.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 135px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Header-Layout {
  display: grid;
  grid-template-columns: auto 1300px auto;
  grid-template-rows: auto;
  -webkit-box-shadow: 0px 3px 15px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 15px 0 rgba(0, 0, 0, 0.25);
}

.App-header {
  height: 135px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: #FFFFFF;
}

.App-container {
  max-width: 1300px;
  position: relative;
  z-index: 1;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.site-branding {
  position: absolute;
  display: block;
  z-index: 100;
  width: 200px;
}

.header-right {
  margin-left: 200px;
}

.header-user {
  position: absolute;
  right: 0px;
}

.header-user-name {
  float: left;
  padding-top: 5px;
}

.header-user-icon {
  margin-left: 20px;
  margin-bottom: 5px;
}

.meta-nav {
  height: 60px;
  padding: 15px 0 8px;
  position: relative;
  z-index: 1;
}

.header-placeholder {
  height: 45px;
}

#site-navigation {
  border-top: 1px solid #EE7339;
}

#site-navigation .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

#site-navigation .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

#site-navigation ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

#site-navigation ul li {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  border-top: 2px solid rgba(0, 0, 0, 0);
  height: auto;
}

#site-navigation ul li a {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 13px 8px;
  color: #A6002A;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-Content-Layout {
  display: grid;
  grid-template-columns: auto 90% auto;
  grid-template-rows: auto;
  -webkit-box-shadow: 0px 3px 15px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 15px 0 rgba(0, 0, 0, 0.25);
}

.site-content, section {
  display: grid;
  grid-template-columns: 48% 4% 48%;
  grid-template-rows: 60px auto;
}

.menu-item a {
  border-top: 2px solid white;
  text-decoration: none;
}

.menu-item a:hover {
  border-top: 2px solid #EE7339;
  color: #EE7339;
}

.page-header h2 {
  font-size: 36px;
  line-height: 60px;
  margin: 0 0 25px 0;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25;
  color: #A6002A;
  text-align: left;
}

h3.page-sub-header {
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 5px;
  float: left;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25;
  color: #A6002A;
  text-align: left;
}

.page-header-protocol-date {
  display: inline-flex;
  font-size: 18px;
  margin-left: 50px;
  vertical-align: middle;
}

.page-header-protocol-save {
  display: inline;
  font-size: 18px;
}

.page-header-protocol-save-btn {
  float: right;
  vertical-align: text-bottom;
}

.page-header-protocol-date-label {
  margin-top: -7px;
  padding-right: 15px;
  padding-top: 6px;
}

.page-header-protocol-date-date {
  display: inline-block;
  margin-top: -4px;
  width: 120px;
}

.agenda-table {
  display: grid;
  grid-template-columns: 12% 50% 24% 7% 7%;
  max-width: 1384px;
}

.my-agenda-table-content {
  grid-column: 1 / span 3;
}

.agenda-selector-table {
  display: grid;
  grid-template-columns: 20% 73% 7%;
}

.my-agenda-table {
  display: grid;
  grid-template-columns: 14% 68% 14%;
}

.new-agenda-table {
  display: grid;
  grid-template-columns: 3% 7% 63% 17% 5% 5%;
  max-width: 1384px;
}

.agenda-history-table {
  display: grid;
  grid-template-columns: 13% 73% 14%;
  max-width: 1384px;
}

.agenda-header {
  border-top: 1px solid grey;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.agenda-header.centered {
  border-top: 1px solid grey;
  font-size: 16px;
  font-weight: 600;
  grid-column: 1 / span 5;
  text-align: center;
}

.agenda-history-header {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.agenda-history-header.centered {
  border-top: 1px solid grey;
  color: #A6002A;
  font-size: 20px;
  font-weight: 600;
  grid-column: 1 / span 3;
  text-align: center;
}

.agenda-header.center {
  text-align: center;
  margin-bottom: 2px;
}

.agenda-separator {
  border-top: 1px solid grey;
  margin-bottom: 5px;
  width: 100%;
}

.line-separator {
  border-top: 0px solid grey;
  margin-bottom: 15px;
  width: 100%;
}

.agenda-item {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 2px;
  max-height: 32px;
  padding-bottom: 4px;
  text-align: left;
}

input .agenda-item {
  padding-bottom: 0px;
}

.responsible.agenda-item {
  padding-left: 7px;
}

.agenda-date {
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 15px;
  text-align: center;
  width: 90%;
}

.agenda-order {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.agenda-prio {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.agenda-button {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  border-radius: 10px;
  color: darkgreen;
  font-size: 18px;
  font-weight: 600;
  height: 33px;
  margin-bottom: 2px;
  margin-left: 10px;
  text-align: center;
  width: 50px;
}

.agenda-button:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.agenda-button.checked:before {
  content: "✔";
}

.agenda-history-list {
  display: table;
  border-spacing: 0.5em;
  list-style-type: none;
  margin-left: -40px;
  table-layout: fixed;
}

.agenda-history-item {
  display: table-row;
}

.agenda-history-line {
  border-top: 1px solid lightgray;
}

.agenda-history-date {
  display: table-cell;
  font-size: 16px;
  font-weight: 600;
  margin-right: 15px;
  max-height: 29px;
  text-align: center;
  width: 12%;
}

.resubmission.agenda-history-date {
  display: unset;
  font-size: 12px;
  padding-top: 5px;
}

.agenda-history-note {
  display: table-cell;
  font-size: 16px;
  font-weight: 600;
  margin-right: 5px;
  text-align: left;
  width: 78%;
}

.agenda-history-responsible {
  display: table-cell;
  font-size: 16px;
  font-weight: 600;
  margin-right: 5px;
  text-align: center;
  width: 10%;
}

.action-button {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  border-radius: 10px;
  color: darkgreen;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
  margin-left: 10px;
  text-align: center;
}

.action-button:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.action-button.save {
    background-color: darkgreen;
    color: white;
    height: 36px;
    width: 150px;
}

.up.agenda-button.checked:before {
  content: "▲";
}

.down.agenda-button.checked:before {
  content: "▼";
}

.plus:before {
  content: "✚";
}

.protocol-table {
  display: grid;
  grid-template-columns: 12% 10% 4% 6% 10% 9% 9% 14% 2% 10% 14%;
  max-width: 1384px;
}

.protocol-table2 {
  display: grid;
  grid-template-columns: 12% 88%;
  max-width: 1384px;
}

.table-fieldname {
  text-align: left;
}

.protocol-table input {
  width: 100%
}

.protocol-table2 input {
  width: 100%
}